* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(211, 36, 36);
  font-family: "Courier New", Courier, monospace, sans-serif;
}

#header {
  margin: 2%;
  font-size: 2.5rem;
}

.search-bar {
  display: flex;
  position: fixed;
  top: 3%;
  right: 2%;
  width: 14vw;
  height: 5vh;
  border: 2px solid;
  background-color: white;
  align-items: center;
  border-radius: 10px;
}

.search {
  border: none;
  border-right: 2px solid black;
  margin-right: 5%;
  margin-left: 3%;
  height: 100%;
}

.invalid {
  cursor: default;
  position: absolute;
  top: 60px;
  right: 85px;
  color: white;
  background: rgba(0, 0, 0, 0.281);
  opacity: 0;
  padding: 10px;
  border-radius: 4px;
  transform: translateY(-20px);
  transition: 0.3s ease;
  z-index: -1;
}

.invalid::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 10px solid rgba(0, 0, 0, 0.281);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.invalid.active {
  transform: translateY(0);
  opacity: 1;
}

.pokeball {
  margin: 10% 0;
  border: none;
  width: 20vw;
}

.pokeball:hover {
  transform: rotateY(360deg);
  transition: 0.5s all ease-in-out;
}

button {
  padding: 1%;
  margin: 0.5%;
  background-color: white;
  color: rgb(211, 36, 36);
  border-radius: 10px;
  border: 2px solid black;
  font-size: 1rem;
  text-transform: capitalize;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pokemon-info {
  display: flex;
  flex-direction: row;
}

.pokemon-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 30vw;
  padding: 2%;
  background-color: white;
  border: 5px solid;
  overflow-y: scroll;
  position: fixed;
  left: -100%;
  transition: 0.3s linear;
}

.pokemon-details.active {
  left: 0;
}

.close {
  top: 1%;
  left: 1%;
  position: absolute;
  font-size: 1.5rem;
  color: black;
  background-color: rgb(211, 36, 36);
  padding: 2%;
}

.close:hover {
  color: rgb(211, 36, 36);
  background-color: black;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.sprite {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 36, 36);
  border-radius: 50%;
  border: 4px solid;
  width: 223px;
  height: 223px;
  padding: 0% 0%;
  top: -1%;
  position: relative;
}

.sprite img {
  width: 200px;
}

.sprite:hover {
  transform: rotateY(360deg);
  transition: 0.5s all ease-in-out;
}

.card-details {
  margin-top: 10%;
  font-size: 1.5rem;
}

.name {
  text-transform: capitalize;
}

.species {
  margin: 10% 0;
}

.type,
.height,
.weight,
.ability {
  margin: 5% 0;
  text-transform: capitalize;
}

@media screen and (max-width: 924px) {
  .pokeball {
    width: 30vw;
  }
  .sprite {
    width: 24vw;
  }
  .name {
    font-size: 1.5rem;
  }
  .pokemon-list {
    margin-left: 3%;
  }
  button {
    font-size: 1.2rem;
  }
  .pokemon-details {
    width: 40vw;
  }
}

@media screen and (max-width: 400px) {
  .pokeball {
    width: 50vw;
  }
  .sprite {
    width: 30vw;
    height: 30vw;
    position: relative;
    top: -3%;
  }
  .pokemon-list {
    margin-left: 3%;
  }
  button {
    font-size: 1.2rem;
  }
  .pokemon-details {
    width: 52vw;
  }
  .card-details {
    font-size: 1.2rem;
  }
}
